
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    margin: 0;
    background-color: rgb(47, 43, 79);
    font-family: "Roboto", sans-serif;
    color: white;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: absolute;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 35, 59);
    z-index: 1000;
    
}

header ul{
    gap: 15px;
    list-style: none;
    display: flex;
}

.aboutme {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 40px;
}

.tec img {
    height: 10vh;
}

.tec li {
    list-style-type: none;
}

.perfil,
.skills {
    background-color: rgb(59, 59, 108);
    padding: 25px;
    border-radius: 18px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

    transition: 0.3s ease;
}

.perfil:hover,
.skills:hover {
    transform: translateY(-5px);
    background-color: rgb(70, 70, 130);
}

.perfil h4,
.skills h4 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(200, 200, 255);
}

.perfil img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;

    border: 4px solid rgb(138, 255, 120);

    display: block;
    margin: 0 auto;
}

.skills p {
    margin-top: 10px;
    line-height: 1.8;
    font-size: 18px;
    color: rgb(220, 220, 255);
}

.contato {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .aboutme {
        flex-direction: column;
        align-items: center;
    }

    .perfil,
    .skills {
        width: 90%;
    }
}